.photo{
    grid-area: photo;
    height: 200px;
    width: 175px;
    border: solid 1px grey;
    /*background-image: url("../../img/logo.jpg");*/
    background-size: cover;
    background-position: 75%;

}
.page_name{
    grid-area: page_name;
    border-bottom: solid 1px grey;
    color: white;
}
.page_info{
    grid-area: page_info;
}
.posts{
    grid-area: posts;
    width: 100%;
    margin-top: 28px;
    border-top: solid 1px grey;
}
.content{
    display: grid;
    grid-template-areas:
            "photo page_name page_name"
            "photo page_info page_info"
            "posts posts posts";
    grid-template-rows: auto auto 2fr;
    grid-template-columns: 185px auto;
}

.status{
    margin-bottom: 10px;
    font-style: italic;
    color: grey;
}

.status_span{
    cursor:pointer;
}