.user_block{
    border-bottom: solid 1px grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.user_block a{
    text-decoration: none;
}
.user_personal_info{
    display: flex;
    align-items: center;
}
.minilogo{
    width: 80px;
    height: 80px;
    background-color: #6c6c6c;
    border-radius: 50%;
}

.name_user{
    margin-left: 30px;

}
.name_user h2{
    color: white;

}
.user_pageStatus{
    font-size: 10pt;
    font-style: italic;
}
.btn_block{
    margin-right: 20px;
}
.unfollow{
    width: 200px;
    padding: 10px;
    background-color: red;
}
.follow{
    padding: 10px;
    width: 200px;
    background-color: greenyellow;
}

.selectedPage{
    color: #331400;
    font-weight: bold;
    padding: 0 5px 0 5px;
}
.numberPage{
    cursor: pointer;
    padding: 0 5px 0 5px;
    color: #A67B5B;
}

