/*preloader icon*/
.lds_dual_ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds_dual_ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #000 transparent #000 transparent;
    animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}