.header{
    grid-area: header;
    background: #A67B5B;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding-bottom: 10px;

}
.logo span{
    color:#331400;
    font-size: 16pt;
    cursor: default;
}
.login a{
    text-decoration: none;
    color: #331400;
    font-size: 14pt;
}