
.h1{
    display: block;
    line-height: 2;
    border-bottom: solid 1px grey;
    margin-bottom: 40px;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;

}

.logo{
    width: 100%;
    height: 300px;
    /*background-image: url("../../img/logo.jpg");*/
    background-size: cover;
    background-position: center;
}

