.form{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;

}

.form_item input{
    width: 200px;
}

.form_item_checkbox{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}
.form_item_checkbox label{
    padding-left: 5px;
}
