.form input{
    width: 90%;
    font-size: 12pt;
    margin: 30px -70px 30px 0;
    padding: 10px 70px 10px 10px;
    border-radius: 17px;
    border: solid 1px grey;
    outline: none;
}
.post{
    min-height: 70px;
    padding: 20px;
    background-color: #edf2ef;
    margin-bottom: 20px;
    margin-top: 20px;

}
.logo_mini{
    /*background-image: url("../../../img/logo.jpg");*/
    height: 70px;
    width: 70px;
    background-size: 100px;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin: 0 20px 20px 0;
}

.post_add{
    position: relative;
    font-size: 14pt;
    padding: 12px 12px 12px 24px;
    margin-left: 2px;
    overflow: hidden;
    border-top: solid 1px grey;
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
    border-left: none;
    cursor: pointer;
    outline:none;

}
.post_add:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -30px;
    width: 40px;
    height: 52px;
    border-right: solid 1px grey;
    border-radius: 50%;
    background-color: white;
}
.post_add:hover{
    background-color: #039be5;
    color: white;
    transition: .5s;
    border: none;
}

.post_add:focus{
    background-color: #039be5;
    color: white;
    transition: .9s;
    border: none;
}