*{
  margin: 0;
  padding: 0;
}
.content{
  display: grid;
  grid-area: content;
}
body{
  background-color: #444444;
}
.app-wrapper{
  display: grid;
  margin: 0 50px 0 50px;
  grid-template-areas:
  "header header header"
  "nav content content"
  ". content content";
  grid-template-rows: 80px auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
}



