/*
.nav{
    grid-area: nav;
}

.nav{
    background-color: darkgreen;
    height: auto;
    border: solid 1px grey;
    cursor: pointer;
}

.nav-item{
    display: block;
    padding: 20px 30px 20px 30px;
    border: solid 1px grey;
    text-decoration: none;
    color: white;
}
.nav-item:hover{
    color: darkgreen;
    transition: .5s;
    background-color: lightskyblue;
}

.nav-item.active{
    color: white;
    background-color: dodgerblue;
}*/

.menu {
    grid-area: nav;
    overflow: hidden;
    border: solid 1px #444444;
    width: 15em;
    border-radius: 13px;
    opacity: 0.9;
    /*box-shadow: 0 0 10px 10px rgba(166, 123, 91, 0.8);*/
}
.menu :last-child {
    margin-bottom: 0;
}

.fancy_hover {
    background: rgba(36,36,36,0.9);
    color: #FFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1em 1em;
    position: relative;
    border-bottom: solid 1px #333;
    transition: background-color 0.2s linear;
    text-decoration: none;
}
.fancy_hover:hover {
    background-color: rgba(166,123,91,0.9);
    transition: .8s;
}

.active{
    color: white;
    background-color: rgba(166,123,91,0.9);
}




