.message_wrapper{
    display: grid;
    grid-template-columns:3fr 7fr;
}
.contacts{
    border-right: solid 1px grey;

}
.contact_item{
    text-align: center;
    display: block;
    padding: 5px 0 5px 0;
    border: solid 1px grey;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
.message_block{
    padding-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    height: auto;
    color: white;
}
.message_item{
    padding: 10px 20px 10px 20px;
    background-color: lightskyblue;
    border-radius: 50px;
    height: auto;
    margin-right: 60%;
}
.message_item:nth-child(2n+1){
    text-align: end;
    margin-left: 60%;
    margin-right: 0;
    background-color: #6c6c6c;
}


.textarea_block{
    margin-top: 20px;
    outline: none;
    resize: none;
    padding: 10px;
    height: 50px;
}